* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  width: 100%;
  min-height: 100svh;
  background-color: black;
  display: flex;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.album {
  position: relative;
  width: 65svh;
  height: 65svh;
  max-width: 600px;
  max-height: 600px;
  perspective: 2000px;
  transition: 1s;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 1s;
  transform-style: preserve-3d;
  transform-origin: left;
  color: #000000;
  z-index: 2;
}
.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}
.front {
  background: #ffffff;
}
.signa {
  width: 50%;
  position: absolute;
  bottom: 10%;
  right: 10%;
}
.back {
  background: #ffffff;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
}
.player {
  z-index: 1;
  background: #ffffff10;
  border: 3px solid #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.vinil {
  position: relative;
  margin: 0 auto;
  width: 80%;
  aspect-ratio: 1;
  background: url(./img/vinil.svg) no-repeat center center;
  background-size: contain;
}
.trackName {
  text-align: center;
  color: #000;
  margin-top: 37%;
  font-size: 20px;
}

.onstart {
  animation: rotor 3s linear infinite;
}
.close {
  width: 42px;
  height: 42px;
  color: #ffffff;
  position: absolute;
  top: 15px;
  right: 15px;
}
.buttons {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.btn {
  border: none;
  background: transparent;
  transform: scale(1.3);
}
.btn:hover {
  cursor: pointer;
}

.cover-open {
  transform: rotateY(-180deg);
}
.album-open {
  transform: translateX(50%);
}
.trackList {
  padding-top: 70px;
  position: relative;
  border: 2px #fff solid;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.list {
  width: 80%;
}
.track {
  width: 100%;
  display: flex;
  padding: 5px 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  font-size: clamp(1rem, 0.4rem + 1.3vw, 2.125rem);
}
.track:hover {
  cursor: pointer;
  background: #ffffff25;
  transform: scale(1.1);
  transition: 0.5s;
}
.curent {
  background: #ffffff25;
}
.track .number {
  padding-right: 10px;
}

.track .time {
  margin-right: 0;
  margin-left: auto;
}

.donat {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 10px;
  background: #ffffff;
  text-decoration: none;
  color: #000;
  border-radius: 20px;
  font-weight: 800;
}

@media (max-width: 900px) {
  .album {
    width: 65vw;
    height: 65vw;
  }
  .cover {
    transform-origin: top;
  }
  .back {
    transform: rotateX(180deg);
  }
  .cover-open {
    transform: rotateX(180deg);
  }
  .album-open {
    transform: translateY(50%);
  }
  .close {
    width: 24px;
    height: 24px;
    top: 5px;
    right: 5px;
  }
  .trackList {
    padding-top: 30px;
  }
  .track {
    font-size: clamp(0.625rem, 3.13vw, 1.5rem);
    margin-bottom: 10px;
  }
  .trackName {
    font-size: clamp(0.625rem, 0.089rem + 2.68vw, 1.375rem);
  }
  .donat {
    font-size: 10px;
    padding: 5px;
    bottom: 5px;
    right: 5px;
    border-radius: 5px;
  }
}
@keyframes rotor {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
